<footer class="site-footer">
	<div class="container pure-g">
        <div class="footer-col pure-u-1 pure-u-md-1-4">
            <img src="{{ "/img/umsu_4.png" | absolute_url }}" alt="" class="footer-logo">
        </div>
        <div class="footer-col pure-u-1 pure-u-md-1-4">
            <h3>About {{ site.short_title }}</h3>
            <ul>
            {% for item in site.menus.footer %}
                <li><a href="{{ item.url | absolute_url }}">{{ item.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="footer-col pure-u-1 pure-u-md-1-4">
            <h3>Research</h3>
            <ul>
            {% for project in site.projects limit:5 %}
                <li><a href="{{ project.url | absolute_url }}">{{ project.title }}</a></li>
            {% endfor %}
            {% if site.projects | size > 5 %}
                <li><a href="{{ "/projects/" | absolute_url }}">See all projects</a></li>
            {% endif %}
            </ul>
        </div>
        <div class="footer-col pure-u-1 pure-u-md-1-4">
            <h3>Contact</h3>
						<div style="display:flex;flex-wrap:wrap"><a href="https://www.facebook.com/ERAUniMelb/" target="_blank" rel="noopener noreferrer" style="text-decoration:none;border:0;width:21px;height:21px;padding:2px;margin:5px;color:#11CBE9;border-radius:50%;background-color:#0d2744;"><svg class="niftybutton-facebook" style="display:block;fill:currentColor" data-tag="fac" data-name="Facebook" viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet">
    <path d="M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0 -52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z"></path>
</svg></a></div>
            {% include address.html %}
        </div>
	</div>
	<div class="copyright">
        <p>
            Made with &#10084; by the people at {{ site.title }}<br>
		</p>
	</div>
</footer>
<!-- Javascript             {{ 'now' | date: "%Y" }} &#10084; {{ site.title }}<br> -->
<script src="{{ "/js/main.js" | absolute_url }}" type="text/javascript"></script>
<!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v8.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your Chat Plugin code -->
      <div class="fb-customerchat"
        attribution=setup_tool
        page_id="112243593784315"
  theme_color="#8B2004"
  logged_in_greeting="Hi, Welcome! Do you have any questions? How can we help you?"
  logged_out_greeting="Hi, Welcome! Do you have any questions? How can we help you?">
      </div>
		</body>
</html>
