{% comment %}
    Displays a twitter feed for the twitter user in _data/information.yml
    as well as the latest 2 documents from the _posts/ collection
{% endcomment %}

{% if page.show_news %}
<section class="news-twitter">
    <div class="container pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
            <div class="col-wrap">
                <h2>Latest News</h2>
                <ul class="posts">
                    {% for post in site.events limit:3 %}
                    <li>
                        <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
                        <date>{{ post.date | date_to_string }}</date>
                        <date>{{ post.sub_heading }}</date>
                    </li>
                    {% endfor %}

                    {% for post in site.posts limit:3 %}
                    <li>
                        <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
                        <date>{{ post.date | date_to_string }}</date>
                        <date>{{ post.sub_heading }}</date>
                    </li>
                    {% endfor %}

                </ul>
                <a href="{{ "/posts/" | absolute_url }}" class="button-outline pure-button">More News <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            <div class="videoWrapper" class="col-wrap twitter-wrap">
                <h2>Socials</h2>
                <div id="fb-root"></div>
                <script async="1" defer="1" crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v8.0" nonce="FGcVRt3s"></script><div class="fb-post" data-href="https://www.facebook.com/ERAUniMelb/posts/170507601291247" data-width="640"><blockquote cite="https://graph.facebook.com/112243593784315/posts/170507601291247/" class="fb-xfbml-parse-ignore"><p>📢📢 𝗣𝗔𝗡𝗘𝗟𝗟𝗜𝗦𝗧 𝗔𝗡𝗡𝗢𝗨𝗡𝗖𝗘𝗠𝗘𝗡𝗧 - #𝟭

                We are extremely fortunate to welcome Harley Grosser to our event panel! Harley is the...</p>Posted by <a href="https://www.facebook.com/112243593784315">Equity Research Association</a> on&nbsp;<a href="https://graph.facebook.com/112243593784315/posts/170507601291247/">Sunday, October 4, 2020</a></blockquote></div>
              </div>
        </div>
    </div>
</section>
{% endif %}
