---
layout: default
---
{% comment %}
	This layout is used to by posts.md to display all of documents in
	the _posts/ collection
{% endcomment %}

{% include breadcrumbs.html class="content-narrow" %}

{% for post in paginator.posts %}
<div class="container pure-g">
  <div class="pure-u-1">
      <div class="content content-narrow">
        <div class="list-layout">
          <h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
          <div>{{ post.content | truncatewords: 30 }}</div>
          <date>{{ post.date | date_to_string }}</date>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
